<header class="zaglavlje">
  <a routerLink="/" class="logo">Printing House</a>

  <nav>
    @if (!korisnik) {
      <a routerLink="/">Početna</a>
      <a routerLink="/prijava">Prijava</a>
      <a routerLink="/registracija">Registracija</a>
    }
    @if (korisnik && (korisnik.tip === 'fizicko' || korisnik.tip === 'pravno')) {
      <a routerLink="/proizvodi">Proizvodi</a>
      <a routerLink="/klijent/profil">Moj profil</a>
      <a routerLink="/korpa">Korpa ({{ brojStavkiUKorpi }})</a>
    }
    @if (korisnik && korisnik.tip === 'stampar') {
      <a routerLink="/stampar/profil">Moja štamparija</a>
      <a routerLink="/stampar/proizvodi">Proizvodi i usluge</a>
      <a routerLink="/stampar/kolicine">Ažuriranje količina</a>
      <a routerLink="/stampar/narudzbine">Naručeni proizvodi</a>
    }
    @if (korisnik && korisnik.tip === 'admin') {
      <a routerLink="/admin/zahtevi">Zahtevi za registraciju</a>
    }
    @if (korisnik) {
      <span class="ulogovan-kao">{{ korisnik.kor_ime }}</span>
      <a routerLink="/" (click)="odjaviSe()">Odjavi se</a>
    }
  </nav>
</header>
